<%# Blank page %>

<%- include("base/head", { title: "Report" }) %>
<body>
    <%- include("base/nav") %>

    <%- include('base/error') %>
    <%- include('base/success') %>

    <!--- scripts -->
    <script src="/js/popover.js" defer></script>

    <%- include("base/footer") %>
</body>
</html>