<%- include("base/head", { title: "New post" }) %>

<body>
    <%- include("base/nav") %>

    <%- include('base/error') %>

    <div class="wrapper">
        <div class="container pixel-border form-container text-center">
            <h2>Create a new post</h2>

            <form action="/create" method="post" id="create">
                <% if (!locals.user) { %>
                    <label for="username">Your username</label>
                    <input type="text" name="username" id="username" placeholder="Username here">

                    <label for="content">Content</label> <%# since there's only one field for registered users, the label is useless %>
                <% } %>
                
                <div style="width: 80%">
                    <%- include("components/texteditor") %>

                    <textarea name="content" id="content" placeholder="Content here"></textarea>
                </div>
                
                <button class="btn" type="submit">Post</button>
            </form>
        </div>
    </div>

    <!--- scripts -->
    <script src="/js/texteditor.js" type="module" defer></script>

    <%- include("base/footer") %>
</body>
</html>