<%- include("base/head", { title: "Login" }) %>

<body>
    <%- include("base/nav") %>

    <%- include('base/error') %>
    <%- include('base/success') %>

    <% if (!locals.success) { %>
        <div class="wrapper">
            <div class="container pixel-border form-container text-center">
                <h2>Welcome back!</h2>

                <form method="post">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username here"><br>
                    
                    <label for="password">Password</label>
                    <input style="margin-top: 10px" type="password" name="password" id="password" placeholder="Password here"><br>

                    <div class="wrapper" style="margin-top: 15px"><%- include('components/altcha_widget.ejs') %></div>
                    
                    <button class="btn" type="submit" style="margin-top: 15px">Sign in</button>
                </form>

                <div class="opacity-75 auth-form-footer">Need an account? <a class="regular" href="/auth/register">Register here.</a></div>
            </div>
        </div>
    <% } %>

    <%- include("base/footer") %>
</body>
</html>