<%- include("base/head", { title: "Login" }) %>

<body>
    <%- include("base/nav") %>

    <%- include('base/error') %>
    <%- include('base/success') %>

    <div class="wrapper">
        <div class="grid-3" style="max-width: 750px">
            <div class="pixel-container">
                <div class="before secondary-color-bg">
                    <h3>Change password</h3>
                </div>
                <div class="after"></div>
            </div>
        </div>
    </div>

    <%- include("base/footer") %>
</body>
</html>