<% if (locals.error) { %>
    <%- include("base/head", { title: "Error" }) %>
<% } else { %>
    <%- include("base/head", { title: `Viewing post: ${post.uid}`, og_data: { title: post.uid, description: og_data.description } }) %> <%# og_data for open graph embeds %>
<% } %>

<body>
    <%- include("base/nav") %>

    <!--- for users that don't have javascript -->
    <noscript>
        <!--- without javascript the nsfw checker doens't work so we remove the default blur -->
        <style>
            #content img {
                filter: none;
            }
        </style>

        <div class="pixel-box" style="position: fixed; bottom: 10px; left: 10px; display: flex; background-color: rgb(255, 79, 79) !important">
            <img src="/img/warning.png" alt="!">
            <span>Your browser doesn't support JavaScript.<br>
            NSFW images will not be blurred or filtered.</span>
        </div>
    </noscript>

    <%- include('base/error') %>

    <div id="wrapper">
        <div id="post_id_copy_notification" class="pixel-container" style="max-width: 200px;">
            <div class="before" style="background-color: rgb(255, 255, 255);"><img src="/img/check.png" alt="check" height="15px"> Copied post ID!</div>
            <div class="after"></div>
        </div>
    </div>

    <% if (locals.post) { %>
        <div id="post_data">
            <div id="post_id" class="text-center">Post ID: <span class="pixel-box"><%= post.uid %></span></div>

            <div id="username" class="text-center">Posted by: <a href="<% if (author.group == 0) { %>/throwaway<% } else { %>/user/<%= author.username %><% } %>" class="pixel-box">
                <%- include("components/username_span", { author: locals.author }) %>
            </a></div>
            
            <%# show the delete button for staff members %>
            <% if ((locals.user && locals.user.group >= 3) || (locals.user && locals.user.uid == author.uid)) { %>
                <div style="display: flex; justify-content: center;">
                    <a href="/delete/<%= post.uid %>"><button class="btn btn-danger">Delete post</button></a>
                </div>
            <% } %>

            <div class="wrapper">
                <div class="container pixel-border" style="margin-top: 23px; padding: 0px 10px">
                    <div id="content">
                        <%- post.content %>
                    </div>
                </div>
            </div>

            <%# Report button %>
            <div class="flex justify-content-center margin-15 no-margin-bottom">
                <a href="/report?post_id=<%= post.uid %>" style="opacity: 0.5; gap: 5px" class="flex align-items-center"><img src="/img/warning.png" height="15px"> Report</a>
            </div>
        </div>
    <% } %>

    <!--- scripts -->
    <script src="/js/components.js" type="module" defer></script>
    <script src="/js/redirect_check.js" type="module" defer></script>
    <script src="/js/copy.js" defer></script>
    <script src="/js/utils.js" defer></script>

    <%# NSFW checker script %>
    <% if (!locals.user || locals.user.settings.nsfw_check != false) { %> <%# check if the user has disabled nsfw checking %>
        <script src="https://unpkg.com/@tensorflow/tfjs@4.22.0" type="text/javascript"></script>
        <script src="/libraries/nsfwjs.model.min.js" defer type="module"></script>
        <script src="/libraries/nsfwjs.min.js" defer type="module"></script>
        <script src="/libraries/nsfwjs.group1-shard1of1.min.js" defer type="module"></script>
        <script src="/js/spoiler.js" defer type="module"></script>
    <% } else { %>
        <style>
            #content img {
                filter: none;
            }
        </style>
    <% } %>

    <%- include("base/footer") %>
</body>
</html>