<% if (locals.error) { %>
    <%- include("base/head", { title: "Error" }) %>
<% } else { %>
    <%- include("base/head", { title: `Viewing post: ${uid}` }) %>
<% } %>

<body>
    <%- include("base/nav") %>

    <!--- overlay used when opening links -->
    <div id="overlay"></div>

    <%- include('base/error') %>

    <div id="wrapper">
        <div id="post_id_copy_notification" class="pixel-container" style="max-width: 200px;">
            <div class="before" style="background-color: rgb(255, 255, 255);"><img src="/img/check.png" alt="check" height="15px"> Copied post ID!</div>
            <div class="after"></div>
        </div>
    </div>

    <% if (locals.content) { %>
        <div id="post_data">
            <div id="post_id" class="text-center">Post ID: <span class="pixel-box"><%= uid %></span></div>

            <div id="username" class="text-center">Posted by: <span class="pixel-box"><% if (permissions >= 1) { %><%- username %><% } else { %><%= username %><% } %></span></div>
            
            <%# show the delete button for staff members %>
            <% if (locals.isStaff == true) { %>
                <div style="display: flex; justify-content: center;">
                    <a href="/delete/<%= uid %>"><button class="btn btn-danger">Delete post</button></a>
                </div>
            <% } %>

            <div class="wrapper">
                <div class="container pixel-border" style="margin-top: 23px; padding: 0px 10px">
                    <div id="content">
                        <%- content %>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <!--- scripts -->
    <script src="/js/redirect_check.js" defer></script>
    <script src="/js/copy.js" defer></script>

    <%- include("base/footer") %>
</body>
</html>